/* Admin Template Custom Design */
.btn-flat{
	border-radius: 0;
}
.user-avater{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 2px solid #eee; 
}
.action-bar ul{
	padding: 0;
}
.action-bar ul li{
	list-style: none;
	display: inline;
	margin: 5px;
	cursor: pointer;
}
.action-bar ul li .fa-eye{
	color: #38bd56;
}
.action-bar ul li .fa-edit{
	color: #ffa735;
}
.action-bar ul li .fa-trash{
	color: #bd2130;
}
.user-modal-img{
	width: 100px;
	height: 100px;
	border: 3px solid #d3d3d3;
	border-radius: 50%;
	margin-bottom: 50px;
}
.user-profile h2 {
    font-size: 20px;
    margin: 10px 0;
    color: #161616;
    font-weight: 500;
}
.user-profile h2 span{
	color: #4e73df;
}
.user-profile h4{
	font-size: 16px;
    margin: 10px 0;
    color: #161616;
    font-weight: 500;
}
.user-profile h4 span{
	color: #4e73df;
}
.notifications a{
    color: #5a5c69!important;
    text-decoration: none;
}
.media-setting{
	border: 3px solid #eee;
	padding: 5px;
}
